/*----------
   RESET 
----------*/

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

/*----------
   COMMON 
----------*/

body{
   max-width: 100vw;
   max-height: 100vh;
   background: linear-gradient(to top, white 90%, #009688 10%)
}

.container{
   display: flex;
   max-width: 80rem;
   height: calc(100vh - 3.125rem);
   margin: 1.5625rem auto;
}

/*----------
 APP CORE 
----------*/

/*------------------ Aside/Chat History ------------------*/

aside{
   display: flex;
   flex-direction: column;
   width: 33.3%;
}

.profile-info{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: .9375rem .625rem;
   background-color: #eaeaea;
}

.notifications-settings{
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0 .625rem;
   height: 3.75rem;
   background-color: #8edafc;
}

.chat-history{
   width: 100%;
   flex-grow: 1;
   /* Debug */
   background-color: blueviolet;
}

/* Profile Information */

.profile-col{
   display: flex;
   align-items: center;
}

.profile-img{
   width: 3.125rem;
   padding-right: .3125rem;
   border-radius: 50%;
}

.profile-icon{
   font-size: 1.125rem;
   padding-right: .9375rem;
   color: grey;
}

.end-icon{
   padding-right: .625rem;
}

/* /Profile Information */

/* Notifications Settings */

.notify-icon{
   font-size: 1.125rem;
   color: #8edafc;
   background-color: white;
   padding: .625rem .625rem;
   border-radius: 50%;
   aspect-ratio: 1;
}

.notify-info{
   padding-left: .3125rem;
}

.notify-link{
   font-size: .75rem;
   color: grey;
}

/* /Notifications Settings */

/*--------------------- Chat Section ---------------------*/

.chat-section{
   display: flex;
   flex-direction: column;
   width: 66.6%;
}

/* Current Chat Infos */

.current-chat-infos{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4.6875rem;
   padding: 0 .625rem;
   background-color: #eaeaea;
   border-left: 0.5px solid lightgrey;
}

.last-login{
   color: gray;
}

/* /Current Chat Infos */

.chat-table{
   display: flex;
   flex-direction: column;
   width: 100%;
   flex-grow: 1;
   padding: 3.125rem 3.125rem;
   background-image: url(../img/mine.jpg);
}

.chat-input{
   width: 100%;
   height: 4.0625rem;
   /* Debug */
   background-color: bisque;
}

.recived-container{
   display: flex;
   height: 3.125rem;
   width: 100%;
   padding: 0 .3125rem;
   margin-bottom: .3125rem;
}

.recived-mex{
   background-color: white;
   border-radius: .625rem;
   padding: .9375rem .9375rem;
   padding-right: 12.5rem;
}

.sent-container{
   display: flex;
   justify-content: flex-end;
   height: 3.125rem;
   width: 100%;
   padding: 0 .3125rem;
   margin-bottom: .3125rem;
}

.sent-mex{
   background-color: #d5f9ba;
   border-radius: .625rem;
   padding: .9375rem .9375rem;
   padding-right: 12.5rem;
}