/*----------
   RESET 
----------*/

*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'Lato', sans-serif;
}

/* RESET REGOLE BOOTSTRAP */

ul{
   padding-left: 0;
}

p{
   margin-bottom: 0;
}

/* /RESET REGOLE BOOTSTRAP */

/*----------
   COMMON 
----------*/

body{
   max-width: 100vw;
   max-height: 100vh;
   background: linear-gradient(to top, #dbdbd2 90%, #009688 10%)
}

.container{
   display: flex;
   max-width: 80rem;
   height: calc(100vh - 3.125rem);
   margin: 1.5625rem auto;
}

.active{
   background-color: #e9ebeb;
}

input:focus{
   outline: none;
}

.change-theme-icon{
   padding-right: .1875rem;
}

/* Rimuove la x negli input fields */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
/* /Rimuove la x negli input fields */

/*----------
 APP CORE 
----------*/

/*------------------ Aside/Chat History ------------------*/

aside{
   display: flex;
   flex-direction: column;
   width: 33.3%;
   border: .0125rem solid lightgrey;
}

.profile-info{
   display: flex;
   justify-content: space-between;
   width: 100%;
   padding: .9375rem .625rem;
   background-color: #eaeaea;
   border: .0125rem solid lightgrey;
}

.notifications-settings{
   display: flex;
   align-items: center;
   width: 100%;
   padding: 0 .625rem;
   height: 3.75rem;
   background-color: #8edafc;
}

.chat-history{
   width: 100%;
   flex-grow: 1;
   overflow-y: auto;
   background-color: white;
}

/* Profile Information */

.profile-col{
   display: flex;
   align-items: center;
}

.profile-img{
   width: 3.125rem;
   padding-right: .3125rem;
   border-radius: 50%;
}

.user-name{
   font-size: 1.125rem;
}

.profile-icon{
   font-size: 1.125rem;
   padding-right: .9375rem;
   color: grey;
   cursor: pointer;
}

.end-icon{
   padding-right: .625rem;
   cursor: pointer;
}

/* /Profile Information */

/* Notifications Settings */

.notify-icon{
   font-size: 1.125rem;
   color: #8edafc;
   background-color: white;
   padding: .625rem .625rem;
   border-radius: 50%;
   aspect-ratio: 1;
}

.notify-info{
   padding-left: .3125rem;
}

.notify-link{
   font-size: .75rem;
   color: grey;
}

/* /Notifications Settings */

/* Recent Chats */

.search-container{
   position: sticky;
   top: 0;
   z-index: 100;
   display: flex;
   align-items: center;
   width: 100%;
   padding: .625rem .625rem;
   background-color: #fafafa;
   border: .0125rem solid lightgrey;
}

.search-col-sm{
   display: flex;
   justify-content: center;
   width: 10%;
   padding: .5625rem .625rem;
   background-color: white;
   border: .0125rem solid lightgrey;
   cursor: pointer;
}

.search-col-lg{
   width: 90%;
}

.search-chats-input{
   width: 100%;
   padding: .3125rem .3125rem;
   border: .0125rem solid lightgrey;
}

.search-icon{
   color: gray;
}

.contact-list{
   list-style: none;
}

.contact{
   position: relative;
   display: flex;
   align-items: center;
   padding: .625rem .625rem;
   border: .0313rem solid lightgrey;
   cursor: pointer;
}

.last-message-text{
   color: grey;
}

.last-message-date{
   position: absolute;
   top: 8%;
   right: 2%;
   font-size: .75rem;
   color: grey;
}

/* /Recent Chats  */

/*--------------------- Chat Section ---------------------*/

.chat-section{
   display: flex;
   flex-direction: column;
   width: 66.6%;
   border: .0125rem solid lightgrey;
}

/* Current Chat Infos */

.current-chat-infos{
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 100%;
   height: 4.6875rem;
   z-index: 100;
   padding: 0 .625rem;
   background-color: #eaeaea;
}

.last-login{
   color: gray;
}

/* /Current Chat Infos */

/* Chat Table */

.chat-table{
   display: flex;
   flex-direction: column;
   width: 100%;
   flex-grow: 1;
   overflow-y: auto;
   padding: 3.125rem 3.125rem;
   border: 0.5px solid lightgrey;
   background-image: url(../img/mine.jpg);
}

.welcome-text{
   text-align: center;
   margin: auto;
   padding: 6.25rem 6.25rem;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 1.5625rem;
}

.message-container{
   position: relative;
   display: flex;
   max-height: 12.5rem;   
   width: 100%;
   padding: 0 .3125rem;
   margin-bottom: .625rem;
}

.message{
   position: relative;
   max-width: 31.25rem;
   border-radius: .625rem;
   padding: .9375rem .9375rem;
   padding-right: 12.5rem;
}

.received{
   background-color: white;
}

.sent{
   background-color: #d5f9ba;
   margin-left: auto;
}

.mex-date{
   position: absolute;
   right: 2%;
   bottom: 7%;
   font-size: .75rem;
   color: grey;
}

.message-info{
   text-align: center;
   margin: auto;
   background-color: rgba(0, 0, 0, 0.5);
   color: white;
   border-radius: 1.5625rem;
   padding: .625rem .625rem;
   margin-left: .3125rem;
}


/* Chat Table */

/* Chat Input */

.chat-input{
   display: flex;
   align-items: center;
   justify-content: space-between;
   text-align: center;
   width: 100%;
   height: 4.0625rem;
   background-color: #f3eeea;
}

.chat-input-col-sm{
   width: 10%;
}

.chat-input-col-lg{
   width: 80%;
}

.input-icon{
   font-size: 1.5625rem;
   color: grey;
}

.send-icon{
   color: green;
}

.new-message-input{
   width: 100%;
   padding: .75rem;
   border: none;
   border-radius: .3125rem;
}

.send-btn{
   border: none;
   cursor: pointer;
}

/* /Chat Input */

/*---------- Dark mode settings ---------*/

.dark_mode_first{
   background-color: rgb(12, 12, 12);
}

.dark_mode_second{
   background-color: rgb(30, 25, 25);
}

.dark_mode_text{
   color: white;
}

.dark_mode_input{
   border-color: grey;
   background-color: #2d2d2d;
}

.notify_dark{
   background-color: #042444;
}

.active_dark{
   background-color: #3a3a3a;
}

.dark_mode_chat{
   background-image: url(../img/mine-dark.jpg);
}

.dark_mode_welcome{
   background-color: rgba(92, 83, 83, 0.5);
}

/*---------- Dark mode settings ---------*/