<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Mine Style -->
        <link rel="stylesheet" href="css/style.css">
        <!-- /Mine Style -->
        <!-- FontAwesome Library -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- /FontAwesome Library -->
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">  
        <!-- /Google Fonts -->
        <!-- Moment js -->
        <script src="https://momentjs.com/downloads/moment.js"></script>
        <script src="https://momentjs.com/downloads/moment-with-locales.js"></script>
        <!-- /Moment js -->
        <!-- Vue.js CDN -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <!-- /Vue.js CDN -->
        <!-- Axios CDN -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <!-- /Axios CDN -->
        <title>Boolzapp</title>
    </head>
    <body>

        <!-- Application Core -->
        <div id="app" class="application-core">
           
            <div class="container">

                <!-- Chat History -->
                <aside>
                    <!-- Profile Information -->
                    <div class="profile-info">
                        <!-- User Info  -->
                        <div class="profile-col">
                            <img class="profile-img" src="img/avatar_8.jpg" alt="">
                            <strong class="user-name">Alessandro</strong>
                        </div>
                        <!-- /User Info  -->

                        <!-- Profile Actions  -->
                        <div class="profile-col">
                            <i class="fa-solid fa-circle-notch profile-icon"></i>
                            <i class="fa-solid fa-message profile-icon"></i>
                            <i class="fa-solid fa-ellipsis-vertical profile-icon end-icon"></i>
                        </div>
                        <!-- /Profile Actions  -->
                    </div>
                    <!-- /Profile Information -->

                    <!-- Notifications Settings -->
                    <div class="notifications-settings">
                        <i class="fa-solid fa-bell-slash notify-icon"></i>
                        <small class="notify-info">Ricevi notifiche di nuovi messaggi. <br> <a class="notify-link" href="#">Attiva notifiche desktop</a></small>
                    </div>
                    <!-- /Notifications Settings -->

                    <!-- Recent Chats -->
                    <div class="chat-history">
                        <!-- Search Bar -->
                        <div class="search-container">
                            <div class="search-col-sm">
                                <i class="fa-solid fa-magnifying-glass search-icon"></i>
                            </div>
                            <div class="search-col-lg">
                                <input class="search-chats-input" type="search" 
                                placeholder="Cerca o inizia una nuova chat"
                                @keyup="onContactSearch" v-model="searchedLetters">
                            </div>
                        </div>
                        <!-- /Search Bar -->
 
                        <!-- Latest chats -->
                        <ul class="contact-list">
                            <li class="contact" v-for="(contact, index) in contacts" @click="onContactClick(index) " 
                            :class="{ active: currentContact === index }" v-show="contact.visible === true">
                                <img class="profile-img" :src="`img/avatar${contact.avatar}.jpg`" alt="Profile Image">
                                <div>
                                    {{contact.name}} <br> 
                                    <div v-for="(message, index) in contact.messages">
                                        <small class="last-message-text" v-if="index === contact.messages.length -1">{{ message.message }}</small>
                                        <small class="last-message-date" v-if="index === contact.messages.length -1">{{ dateFormat(message.date) }}</small>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <!-- /Latest chats -->
                    </div>
                    <!-- /Recent Chats -->
                </aside>
                <!-- /Chat History -->

                <!-- Chat Body Section -->
                <section class="chat-section">
                    <!-- Current chat Infos -->
                    <div class="current-chat-infos">
                        <!-- Profile infos -->
                        <div class="profile-col">
                            <img class="profile-img" :src="`img/avatar${contacts[currentContact].avatar}.jpg`" alt="">
                            <div>{{ contacts[currentContact].name }} <br> 
                                <small class="last-login">Ultimo accesso: {{ dateFormat(contacts[currentContact].messages.date) }}</small>
                            </div>
                        </div>
                        <!-- /Profile infos -->

                        <!-- Chat profile Actions  -->
                        <div class="profile-col">
                            <i class="fa-solid fa-magnifying-glass profile-icon"></i>
                            <i class="fa-sharp fa-solid fa-paperclip profile-icon"></i>
                            <i class="fa-solid fa-ellipsis-vertical profile-icon end-icon"></i>
                        </div>
                        <!-- /Chat profile Actions -->
                    </div>
                    <!-- /Current chat Infos -->

                    <!-- Chat Table -->
                    <div class="chat-table">
                        <!-- Message -->
                        <div class="message-container" v-for="(message, index) in contacts[currentContact].messages" 
                        @click="onMessageClick(index)">
                            <p class="message" 
                                :class="{ sent: message.status === 'sent', received: message.status === 'received' }"> 
                                {{ message.message }} <small class="mex-date"> {{ dateFormat(message.date) }} </small>
                            </p>
                        </div>
                        <!-- /Message -->
                    </div>
                    <!-- /Chat Table -->

                    <!-- Chat Input -->
                    <form class="chat-input" @submit.prevent="onClickEnter">
                        <div class="chat-input-col-sm">
                            <i class="fa-regular fa-face-smile input-icon"></i>
                        </div>
                        <div class="chat-input-col-lg">
                            <input class="new-message-input" type="text" placeholder="Scrivi messaggio" v-model="newMessage.message">
                        </div>
                        <div class="chat-input-col-sm sm-right">
                            <button class="send-btn" @submit.prevent="onClickEnter"><i class="fa-sharp fa-solid fa-circle-arrow-right input-icon send-icon"></i></button>
                        </div>
                    </form>
                    <!-- /Chat Input -->
                </section>
                <!-- /Chat Body Section -->

            </div>
            
        </div>
        <!-- /Application Core -->

        <script src="js/main.js"></script>
    </body>
</html>